{% extends 'main/base.html' %}
{% load static %}
{% block title %}
    Profile
{% endblock %}

{% block content %}
    <section class="profile">
        <h2 class="text-center">Profile</h2>

        {% if form.errors %}
            <div class="alert alert-danger">{{ form.errors }}</div>
        {% endif %}

        <form action="{% url 'user:profile' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="profile__image">
                <img src=" {% if user.image %} {{ user.image.url }} {% else %} {% static 'img/noimage.png' %} {% endif %}"
                     alt="Avatar">
            </div>
            <input type="file" class="form-control form-style mt-2" id="image" name="image" accept="image/*">

            <label for="id_first_name">First Name</label>
            <input type="text" class="form-control form-style" id="id_first_name" name="first_name"
                   placeholder="First Name" value="{{ form.first_name.value }}" required>

            <label for="id_last_name">Last Name</label>
            <input type="text" class="form-control form-style" id="id_last_name" name="last_name"
                   placeholder="Last Name" value="{{ form.last_name.value }}" required>

            <label for="id_username">Username</label>
            <input type="text" class="form-control form-style" id="id_username" name="username"
                   placeholder="Username" value="{{ form.username.value }}" required>

            <label for="id_email">Email</label>
            <input type="email" class="form-control form-style" id="id_email" name="email"
                   placeholder="Email" value="{{ form.email.value }}" required>

            <button type="submit" class="button btn">SUBMIT</button>

        </form>


        <div class="profile__orders">
            <h3 class="text-center">Your Orders</h3>
            {% if orders %}
                {% for order in orders %}
                    <div class="profile__orders-order">
                        <h5> Order# {{ order.id }}</h5>
                        {% for item in order.items.all %}
                            <div class="profile__orders-order-info d-flex align-items-center gap-4">
                                <p>{{ item.product.name }}</p>
                                <p>Quantity: {{ item.quantity }}</p>
                                <p>$ {{ item.price }}</p>
                                <p>{{ order.created }}</p>
                                <p>TOTAL: $ {{ order.get_total_cost }}</p>
                            </div>
                        {% endfor %}

                    </div>
                {% endfor %}

            {% else %}
                <p>You haven`t ordered anything yet.</p>
            {% endif %}
        </div>


    </section>
{% endblock %}